.Input {
    margin: 10px 0px 10px 0px;
    outline:none;
    border: none;
    background-color: transparent;
    color: var(--primary-text-color);
    border-bottom: solid 1px var(--primary-text-color);
    &:hover{
        background-color: rgba(255, 255, 255, 0.322);
    }
    a {
        color: var(--primary-text-color);
        text-decoration: none;
    }
}