.Title-container {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    min-height: 40px;
    transition: 2s linear;
    &:hover{
    }
    a {
    
    }
}