.draggable-div1{
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(0, 225, 255);
  cursor: none;
}
.draggable-div2{
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: red;
  cursor: none;
}