body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 107, 107);
}
a{
  color: black;
  text-decoration: none;
}