
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:20px 100px 20px 100px;
     div{
        margin: 10px 0px 10px 0px;
    }
    input{
        margin: 10px 0px 10px 0px;
    }
}

.label{
    align-self: flex-start;
}
button{
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    min-width: 150px;
    color: white;
}
a{
    color: white;
}
input{
    outline: none;
    border: none;
    padding: 3px;
}
.main-container{
}
.homePage{
    display: flex;
    background-color: rgba(255, 255, 255, 0.082);
}